<div class="widgets">
    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="构建镜像" index="1">
            <div class="row" style="margin-left:-15px;margin-top:20px;">
                <div class="col-sm-6">
                    <div class="searchbar search_btn">
                        <div class="input-group">
                            <div class="input-group ng-scope">
                                <input type="text" class="form-control with-danger-addon"
                                       placeholder="搜索关键字"
                                       ng-model="grid.rmtxt"
                                       ng-keyup="rmsearch($event)"
                                >
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="rmsearch('search')"><i class="ion-search"></i></button>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0;">

                </div>
            </div>
            <div ba-panel ba-panel-title="构建镜像列表" ba-panel-class="with-scroll">

            </div>
            <div class="text-center" ng-if="grid.rmtotal > 1" style="margin-top: 30px;">
                <uib-pagination class="pagination pagination-sm" ng-model="grid.rmpage" total-items="grid.rmtotal"
                                items-per-page="grid.size" boundary-links="false" max-size="12" rotate="true"
                                previous-text="<"
                                next-text=">"
                >
                </uib-pagination>

            </div>

        </uib-tab>
        <uib-tab heading="仓库镜像" index="2">
            <div class="row" style="margin-left:-15px;margin-top:20px;">
                <div class="col-sm-6">
                    <div class="searchbar search_btn">
                        <div class="input-group">
                            <div class="input-group ng-scope">
                                <input type="text" class="form-control with-danger-addon"
                                       placeholder="搜索关键字"
                                       ng-model="grid.txt"
                                       ng-keyup="search($event)"
                                >
                                <span class="input-group-btn">
                                       <button class="btn btn-danger" type="button" ng-click="search('search')"><i class="ion-search"></i></button>
                                 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0;">

                </div>
            </div>
            <div ba-panel ba-panel-title="仓库镜像列表" ba-panel-class="with-scroll">

            </div>
            <div class="text-center" ng-if="grid.total > 1" style="margin-top: 30px;">
                <uib-pagination class="pagination pagination-sm" ng-model="grid.page" total-items="grid.total"
                                items-per-page="grid.size" boundary-links="false" max-size="12" rotate="true"
                                previous-text="<"
                                next-text=">"
                >
                </uib-pagination>

            </div>
        </uib-tab>
    </uib-tabset>
</div>