.det_main{
    border:1px solid #CDC9C4;
    height:100px;
    padding: 0px;
    .img1{
        width: 26px;height: 21px;
    }
    .btn1{
        float: right;
        width:25px;
        height:25px;
        border:none;
    }
    .btn2{
        float: right;
        margin-right:10px;
        border:none;
    }
    .content1{
        height: 60px;
    }
    .img2{
        float:left;
        width: 26px;
        height: 21px;
    }
}
