#service_creat {
 .port {
  table {
   th {
    text-align: center;
   }
   .form-group {
    text-align: center;
    margin-top: 15px;
   }
   .deletebtn {
    margin-top: -5px;
   }
  }
 }
 .float-r {
  float: right;
 }
 .tac {
  text-align: center;
 }
 .serhlefbtn {
  width: 80%;
 }
}
